
.btn {
	float: right;
	margin-right: 25px;
}

.btn img {
	height:30px;
	width:10px;
}

body {
	font-family: Arial;
	color: white;
}

.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.left {
	left: 0;
	background-color: #111;
}

.right {
	right: 0;
	background-color: white;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.centered img {
	width: 150px;
	border-radius: 50%;
}


/* Chat containers */

.container {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 10px;
	color: black;
}


/* Darker chat container */

.darker {
	border-color: #ccc;
	background-color: #ddd;
	text-align: right;
}

.chat {
	border-color: #ccc;
	background-color: white;
	text-align: left;
}


/* Clear floats */

.container::after {
	content: "";
	clear: both;
	display: table;
}


/* Style images */

.container img {
	float: left;
	max-width: 60px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
}


/* Style the right image */

.container img.right {
	float: right;
	margin-left: 20px;
	margin-right: 0;
	background-color: white;
}


/* Style time text */

.time-right {
	float: right;
	color: #aaa;
}


/* Style time text */

.time-left {
	float: left;
	color: #999;
	text-align: right;
}

.chat-scroll {
	overflow: auto;
	height: 70%;
	font-size: 24px;
}

.chat-box {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#input-box {
	padding: 10px;
	margin: 10px 0;
	width: 75%
}


/* Game picture*/

.gallery {
	margin-left: 80px;
	padding: 10px;
	border: 1px solid white;
	float: left;
	width: 200px;
}

.gallery:hover {
	border: 1px solid white;
}

.gallery img {
	width: 100%;
	height: auto;
}

.desc {
	color: black padding: 20px;
	text-align: center;
	font-weight: bold;
}

* {
	box-sizing: border-box
}

body {
	font-family: Verdana, sans-serif;
	margin: 0
}

.mySlides {
	display: none
}

img {
	vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}


/* Position the "next button" to the right */

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}


/* The dots/bullets/indicators */

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}


/* Fading animation */

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
	.prev,
	.next,
	.text {
		font-size: 11px
	}
}


.gallery img {
	height: 300;
	width: 500;
   }

h3 {
	margin-left: 30px;
}

